canvas {
    padding: 0;
    margin: auto;
    display: block;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.NightTime{
	background-color: #140c1c;
}

.DayTime{
	background-color: #deeed6;
}

html, body {
    background-color: #deeed6;
    color: #140c1c;
    font-family: Verdana;
    width: 100%;
    height:100%;
    margin:0;
    padding:0;
}

.interfaceButton{
    position:absolute;
    cursor:pointer;
    border: 1px #140c1c solid;
    
}


#mainOuter {
    width: 100%;
}

#inner {
    margin: 0 auto;
    width: 50%;
}

a:link {
    color: #597dce;
}

a:visited {
    color: #30346d;
}

/*  These are for reference of the colors for easier development  */
.black{
    color: #140c1c
}
.green{
    color: #346524
}
.darkBrown{
    color: #442434
}
.lightBrown{
    color: #854c30
}
.red{
    color: #d04648
}
.blue{
    color: #597dce
}
.lightGray{
    color: #8595a1
}
.pink{
    color: #d2aa99
}
.gold{
    color: #dad45e
}
.darkBlue{
    color: #30346d
}
.darkGray{
    color: #4e4a4e
}
.gray{
    color: #757161
}
.orange{
    color: #d27d2c
}
.lightGreen{
    color: #6daa2c
}
.lightBlue{
    color: #6dc2ca
}
.white{
    color: #deeed6
}
